html,body{
  margin:0;
  padding:0;
  font-family: Lato, san-serif;
  /* background-color: rgb(16, 16, 71); */
  background-image: url(https://www.xtrafondos.com/descargar.php?id=4450&resolucion=3840x2160);
  background-size: cover;
}
.App{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.6);
}


